body {
    margin: 0;
    background-color: #17182f;
    font-family: 'Cinzel', serif;
  }
  canvas {
    display: block;
    vertical-align: bottom;
  }
/* ---- particles.js container ---- */
 
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
   
  #circle {
      width: 1000px;
      height: 1000px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 500px;
      margin-right: auto; 
      margin-left: auto;
    }
   
  #your-sign-top-container {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
  }
   
  #content-main-container {
    display: flex;
    flex-direction: column;
  }
   
  #form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.5;
    border: 1px solid red;
    left: 300px;
    top: 200px;
    width: 250px;
    }
   
  .form-container-header {
      text-align: center;
  }
   
  #form-container-form {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
  }
   
  .form-container-input {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
  }
   
  .form-container-submit {
    text-align: center;
  }
   
  #signs {
    background-color: white;
    opacity: 0.5;
  }
   
  .resizedBox {
    width: 30px;
    height: 30px;
    border: 2px;
  }
  .yearBox {
    width: 50px;
    height: 30px;
    border: 2px;
  }
      