html,body{
  width:100%;
  height:100%;
  margin:0;
}
.space{
  width:100%;
  height:100%;
  background: #455A64;
  color: white;
}
#no {
  position: absolute;
  text-align:center;
  top: 200px;
  left: 300px;
}
.planet{
  width:150px;
  height:150px;
  border-radius:50%;
  background:#ff5f40;
  position: absolute;
  left:50%;
  top:50%;
  margin: -75px 0 0 -75px;  
  overflow: hidden;
  z-index: 2;
}
.planet_shadow{
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: -40%;
  right: -10%;  
  border: 35px solid rgba(0,0,0,.15);  
}
.crater1,.crater2,.crater3,.crater4{
  position: absolute;
  border-radius:50%;
  background: rgba(0,0,0,.15);
  box-shadow: inset 3px 3px 0 rgba(0,0,0,.15);
}
.crater1{
  width:20px;
  height:20px;
  left:25%;
  top:20%;  
}
.crater2{
  width:10px;
  height:10px;
  left:50%;
  top:60%;  
}
.crater3{
  width:15px;
  height:15px;
  left:30%;
  top:65%;  
}
.crater4{
  width:15px;
  height:15px;
  left:60%;
  top:35%;  
}
.moon{
  position:absolute;
  width:40px;
  height:40px;
  top:52%;
  left:20%;
  background:#9e9e9e;
  border-radius:50%;
  z-index:3;
  box-shadow: inset -7px -7px 0 rgba(0,0,0,.2);
  animation: orbiting 15s infinite linear;
}
.crater2.moon_crater{
  top:20%;
}
.crater3.moon_crater{
  top:50%;
  left:10%;
  width:7px;
  height:7px;
}
/*========*/
@keyframes orbiting {
  0% {
    left: 20%;
    top:52%;
    margin-top:0;
    z-index:3;
    animation-timing-function: ease-in;
    }
  25%{
    left: 50%;
    top:55%;
    z-index:3;
    animation-timing-function: ease-out;
  }
  50% {
    left: 80%;
    top:48%;
    margin:-40px 0 0 -40px;
    z-index:1;
    animation-timing-function: ease-in;
    }
  75%{
    left: 50%;
    top:42%;
    z-index:1;
    animation-timing-function: ease-out;
  }
  85%{
    z-index: 1;
  }
}
